@import '../../themes/clubwho-theme.scss';

.hostBody {
	background: $primary;
	border-left: 6px $accent-blue solid;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 5px 10px;
}

.topText {
	font-size: 26px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.topText * {
	color: $text-secondary;
}

.hostName {
	font-size: 38px;
}

#viewersText {
	margin-left: 15px;
	white-space: nowrap;
}