@import '../../themes/clubwho-theme.scss';

.spotifyParent {
	background: $primary;
	position: absolute;
	display: flex;
	flex-direction: column;
	bottom: 0;
	font-size: 30px;
	padding: 10px;
	text-align: right;
	border-left: $accent-yellow 3px solid;
	white-space: nowrap;
	text-shadow: 0px 0px 20px $glow;
}

#spotifyArtist {
	color: $text-secondary;
	font-size: 20px;
	text-shadow: none;
}