@import './themes/clubwho-theme.scss';

.bio-image {
	width: 320px;
	height: 100px;
	background: $primary;
	background-image: url('./assets/tv-scanline.png');
	background-repeat: repeat;
	border: 1px $accent-blue solid;
	box-shadow: inset 0px 0px 10px $accent-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 600;
}